.App {
  margin: 3em auto;
  max-width: 50em;
}

.App h1 {
  text-align: center;
}

.cardcss.card {
  min-width: 18rem;
}

.navlink {
  color: rgba(255,255,255,.5);
  padding-right: .5rem;
  padding-left: .5rem;
}

.navlink:hover {
  color: rgba(255,255,255,.75);
  text-decoration: none;
}
